@import url("reset.css") layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Oxanium:wght@200..800&display=swap');

@font-face {
  font-family: 'Avestrava';
  src: url('/fonts/Avestrava.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: "Michroma";
}

.debug {
  border: solid 1px blue; 
  max-width: fit-content;
}

section {
  padding: 0 10rem;
  max-width: 1536px;
  margin: auto;
}


#info {
  margin-top: 6rem;    
  margin-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #0000FF;
  flex: 0;
}

.info__image {
  padding: 2rem;
  border-right: solid 1px blue;
  flex: 2 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info .title {
  font-family: "Michroma", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.info__data {
  word-break: break-word; 
  flex: 2 1 0;
}

#info p, #info span {
  font-family: "Oxanium", sans-serif;
  font-weight: 200;  
}

.info__minibio {
  padding: 2rem;
  margin:0;
  font-size: 1.5rem;
}

@media (max-width: 680px) {  

  section {
    padding: 0;
  }

  .info__image, .info__data {
    flex: 0 1 auto;
  }

  .info__image {
    border-right: none;
    border-bottom: solid 1px blue;
  }

  #info .title {
    font-size: 2rem;
    text-align: center;
  }

  .info__minibio {
    font-size: 1rem;
  }
}


.info__meta {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  border-top: solid 1px #0000FF;
  border-bottom: solid 1px #0000FF;
}

.info__birth span:first-child {
  background-color: #0000FF;
  padding: 0.35rem;  
}

#webgl {
  z-index: -1;
  position: fixed;  
  top: 0;
  left: 0;
  outline: none;
}

#header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#cover {
  /*border: solid 1px red;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#cover nav {
  /*max-width: fit-content; */
  position: absolute; 
  top:0;
  right: 0;
  /*padding-right: 2rem;*/
  font-size: 0.8rem;
  border: 1px solid #fff;
  width: 100%;
}

#cover nav ul {
  display: flex;
  /*gap: 1rem;*/
  list-style: none;
  justify-content: space-around;
  padding: 0.3em;
  margin-block: 0;
}


#cover nav li {
  margin: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #fff;
}

#cover nav li:last-child {
  border-right: none;
}

#cover nav a {
  color: inherit;
  text-decoration: none;
}

#logotext {
}

#metadata {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem;
  font-size: 0.7rem;  
}

#metadata a {
  color: inherit;
}