@import url("reset.css") layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Oxanium:wght@200..800&family=Share+Tech+Mono&display=swap');

@font-face {
  font-family: 'Avestrava';
  src: url('/fonts/Avestrava.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: "Michroma";
}

.debug {
  border: solid 1px blue; 
  max-width: fit-content;
}

.wrapper-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 680px) {  

  .wrapper-center {
    padding: 0 2rem;
  }
}

#webgl {
  z-index: -1;
  position: fixed;  
  top: 0;
  left: 0;
  outline: none;
}

.header {
  width: 100;
  height: 300dvh;
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.cover__nav {
  font-size: 0.8rem;
  border: 1px solid #fff;
  width: 100%;

  & ul {
    display: flex;
    list-style: none;
    justify-content: space-around;    
    margin-block: 0;
    padding: 0;
  }

  & li {    
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;

    &:last-child {
      border-right: none;
    }
  }

  /*TODO: refactor*/
  & a {
    padding: 0.3em;
    color: inherit;
    text-decoration: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background: linear-gradient(#0000ff 0 0) 0/0% no-repeat transparent;
    transition: background-size 0.5s;
  }

  & a:hover {
      background-size: 100%;
    }
}

.cover__content {
  flex: 1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,255,0.6) 3px, transparent 3px), linear-gradient(90deg, rgba(0,0,255,0.6) 3px, transparent 3px);
    background-size: 100px 100px;
    transform: perspective(666px) rotateX(-60deg);
    transform-origin: center top;    
    backface-visibility: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,255,0.6) 3px, transparent 3px), linear-gradient(90deg, rgba(0,0,255,0.6) 3px, transparent 3px);
    background-size: 100px 100px;
    transform: perspective(666px) rotateX(60deg);
    transform-origin: center bottom;    
    backface-visibility: hidden;
  }
}

.cover__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;  

  .cover__info-title {
    border-bottom: 1px solid white;
    padding: 0.5em;
    font-size: 0.5rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cover__info-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;    
    font-size: 0.7rem; 

    /*TODO: refactor*/
    & a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      padding: 1em;
      background: linear-gradient(#0000ff 0 0) 0/0% no-repeat transparent;
      transition: background-size 0.5s;
      
    }

    & a:hover {
      background-size: 100%;
    }

    & a:not(:last-child) {
      border-right: 1px solid white;
    }
  }
}

#logotext {
}

#metadata {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem;
  font-size: 0.7rem;  
}

#metadata a {
  color: inherit;
}

#scroll-separator {
  width: 100%;
  height: 100dvh;
  display: flex;
  background-image: 
    linear-gradient(rgba(0,0,255,0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,255,0.2) 1px, transparent 1px);    
  background-size: 30px 30px;  

  & div {
    flex-grow: 1;
    position: relative;
  }
 
  & span {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Michroma';
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    mix-blend-mode: difference;
  }
}

#model-box {
  width: 100%;
  height: 100%;
}