@import url("reset.css") layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Oxanium:wght@200..800&display=swap');

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

#info {
  display: flex;  
  border: solid 1px #0000FF;
}

#info .title {
  font-family: "Michroma", sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

#info p, #info span {
  font-family: "Oxanium", sans-serif;
  font-weight: 200;  
}

.info__meta {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  border-top: solid 1px #0000FF;
  border-bottom: solid 1px #0000FF;
}

.info__birth span:first-child {
  background-color: #0000FF;
  padding: 0.35rem;  
}