@font-face {
    font-family: "Titillium Web";
    src: url("TitilliumWeb-Regular.ttf");
}
@font-face {
    font-family: "Titillium Web SemiBold";
    src: url("TitilliumWeb-SemiBold.ttf");
}
@font-face {
    font-family: "Titillium Web Bold";
    src: url("TitilliumWeb-Bold.ttf");
}